<!DOCTYPE html>
<html lang="en">

<head>
    <title>Toolkit</title>

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://handsontable.com//bower_components/handsontable/dist/handsontable.full.min.css" rel="stylesheet">

    <title>Euprime</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/style.css" rel="stylesheet">


</head>


  <body>


        <div class="container">
            <div class="header">
                <nav>
                    <ul class="nav nav-pills pull-right">
                        <li role="presentation" class="active"><a href="/logout">Logout</a>
                        </li>
                    </ul>
                </nav>
                <h3 class="text-muted">Toolkit</h3>
            </div>

    <div class="container">

      <!-- The justified navigation menu is meant for single line per list item.
           Multiple lines will require custom code not provided by Bootstrap. -->
      <div class="masthead">
        <nav>
          <ul class="nav nav-justified">
            <li><a href="/userHome">Home</a></li>
            <li><a href="Projects">Projects</a></li>
            <li><a href="Services">Services</a></li>
            <li><a href="Downloads">Downloads</a></li>
            <li class="active"><a href="About">About</a></li>
            <li><a href="Contact">Contact</a></li>
          </ul>
        </nav>
      </div>

      <div>About Tab</div>

      <!-- Site footer -->
      <footer class="footer">
        <p>&copy; Euprime 2015</p>
      </footer>

    </div> <!-- /container -->

  </body>
  <script src="../static/js/lib/jquery-2.1.4.min.js"></script>
  <script src="../static/bootstrap/js/bootstrap.min.js"></script>
  <script src="http://handsontable.com//bower_components/handsontable/dist/handsontable.full.min.js"></script>
  <script src="../static/js/home.js"></script>

</html>
